* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}


/* HEADER */

header {
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background-color: #000;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}


/* MAIN */

main {
    min-height: calc(100vh - 140px);

    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* FORMULÁRIO */

#cadastro {
    width: 350px;
}

#cadastro h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px;

    border: none;
    border-radius: 5px;

    font-size: 15px;
}

button {
    padding: 12px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;
}


/* LISTA */

#listaMusicas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* CARD DA MÚSICA */

.musica {
    width: 250px;

    padding: 15px;

    background-color: #181818;

    border-radius: 10px;
}

.musica img {
    width: 100%;
    height: 250px;

    object-fit: cover;

    border-radius: 8px;
}

.musica h3 {
    margin-top: 12px;
}

.musica p {
    margin-top: 5px;
}

.musica audio {
    width: 100%;
    margin-top: 15px;
}


/* FOOTER */

footer {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;
}